<html>
    <head>
    </head>
    <body>
        <form action = "http://127.0.0.1:5000/" method = "POST">
        <h1> Type your Problem Text Here! </h1>
        <textarea rows="20" cols="50" name="contents">
        {% for key, value in jj.items() %}
        {{value}}
        {% endfor %}
        </textarea>
                <input type="reset" value="Reset">
                <input type="submit" value="Submit">
        </form>
        </form>
        <h3> 
        {% for i in foo %} {{ i }} ... {%endfor%}
        </h3>
    </form>
    </body>
</html>

